{% extends "main.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/cpu.css">
{% endblock %}
{% block body %}
<script src='/static/js/cpu/cpu.js'></script>
<script src='/static/js/shared.js'></script>
<script src='/static/js/cpu/instruction.js'></script>
<script src='/static/js/cpu/view.js'></script>
<script src='/static/js/cpu/tests.js'></script>

<div id="cpu-info" data-cpu='{{context["CPU"]}}'/>
<!-- load file from list.-->
<div>
  <select class='files' size='2'>
  {% for binary in context['binaries'] %}
  <option>{{binary['name']}}</option>
  {% endfor %}
  </select>
  <button id='load-cpu'>
    Load
  </button>
  <button id='run-cpu'>
    Run
  </button>
  <button id='run-cycle-cpu'>
    Run Cycle
  </button>
  <input type='text' id='number-cycles'/>
  <button id='run-cycles-cpu'>
    Run cycles
  </button
</div>

<div>
  <!-- upload file -->
  <form method='post' enctype='multipart/form-data'>
    <input type='file' id='file-input' name='file'/>
    <input type='submit' value='Submit'>
  </form>
</div>

<div id='cpu-state'>
  <!-- cpu state -->
</div>


<script>
  function onFileSelect(event){
    var file = event.target;
    var reader = new FileReader();

  }
  $(document).ready(function(){
    //$(".file-input").change(onFileSelect);
    var args = $('#cpu-info').data('cpu');
    var data = jQuery.parseJSON(args.replace(/'/g, '"'));
    var world = new World();
    var cpu = new CPU(data);
    var cpuView = new CPUView('cpu-state', cpu);
    world.cpu = cpu;

    $("#run-cycle-cpu").click(function(){
      on_run_cycle_click(cpu);
      cpuView.refresh();
    });
    $("#run-cycles-cpu").click(function(){
      var cycles = $("#number-cycles").val();
      on_run_cycles_click(cpu, cycles);
      cpuView.refresh();
    });
    $("#run-cpu").click(function(){
      on_run_click(cpu);
      cpuView.refresh();
    });
    $("#load-cpu").click(function(){
      var filename = $(".files").val();
      on_load_click(filename, cpu, function(){
        cpuView.refresh();
      });
    });

    // lets run some tests
    run_tests();
  });
</script>
{% endblock %}
