{% extends "main.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/hardware.css">
{% endblock %}
{% block body %}
<script src='/static/js/compute.js'></script>
<script src='/static/js/hardware.js'></script>
<select id='device-type-select'>
  {% for device in context["devices"] %}
  <option>{{ device['type'] }}</option>
  {% endfor %}
</select>
<button id='device-type-button'>select device</button>
<button id='step'>step</button>

<ul id='wire-list'>
  <li>
    <!-- wires-->
    <div class='wire'></div>
  </li>
</ul>

<!-- debug output -->
<textarea id="debug-output">

</textarea>

{% endblock %}
